<div class="row">
  <div class="col-md-8">
    <p>
      <label>Pagination:
        <input type="checkbox" [checked]="pagination" (change)="pagination = !pagination" >
        <label>Page #:
          <input type="text" [(ngModel)]="page" size="2">
        </label>
        <label>Page Size:
          <input type="text" [(ngModel)]="size" size="2">
        </label>
      </label>
&nbsp;
      <label>Continuous:
        <input type="checkbox" [checked]="continuous" (change)="continuous = !continuous" />
      </label>

      <button (click)="requestQuoteStream()">Reactive Request</button>
      <button (click)="requestQuoteBlocking()">Blocking Request</button>

      <button (click)="openDialog()">Push quote 🚀</button>
      
    </p>
    <table class="table">
      <thead>
      <tr>
        <th>Quote ID</th>
        <th>Book</th>
        <th>Quote content</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let quote of quoteArray" [class.success]="quote === selectedQuote" (click)="onSelect(quote)">
        <td>{{quote.id}}</td>
        <td>{{quote.book}}</td>
        <td>{{quote.content.substr(0, 30)}}...</td>
      <tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-4">
    <div class="message">Click on a quote for more details</div>
    <app-quote-detail [quote]="selectedQuote"></app-quote-detail>
  </div>
</div>

<dialog id="newQuoteDialog" [open]="newQuoteDialogOpen" >
  <form method="dialog">
    <div>
      Book title:
    </div>
    <div>
      <input name="newQuoteBook" type="text" [(ngModel)]="newQuoteBook" />
    </div>
    <div>
      Review:
      {{newQuoteContent}}
    </div>
    <div>
      <input name="newQuoteContent" type="text" [(ngModel)]="newQuoteContent" />
    </div>
    <div>
      Author FullName:
    </div>
    <div>
      <input name="newQuoteAuthorFullName" type="text" [(ngModel)]="newQuoteAuthorFullName" />
    </div>
    <div>
      Author Region:
    </div>
    <div>
      <select [(ngModel)]="newQuoteAuthorRegion" name="newQuoteAuthorRegion">
        <option *ngFor="let r of regionEntries" [ngValue]="r.value">{{r.text}}</option>
      </select>
    </div>
    <menu>
      <button value="cancel" (click)="newQuoteDialogOpen = false">Cancel</button>
      <button value="default" (click)="pushNewQuote()">Send</button>
    </menu>
  </form>
</dialog>

<div>

  <h3>Authors</h3>
  <p>
    <label>Continuous:
      <input type="checkbox" [checked]="authorsContinuous" (change)="authorsContinuous = !authorsContinuous" />
    </label>
    <button (click)="requestAuthors()">Request</button>
  </p>

  <table class="table">
    <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Region</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let author of authorsArray">
      <td>{{author.id}}</td>
      <td>{{author.fullName}}</td>
      <td>{{author.region}}</td>
    <tr>
    </tbody>
  </table>
</div>
